<%- include('includes/header.ejs') %>
<div class="container-fluid center">
    <div class="main">
        <h1> <%= title %></h1>
        <%- message ? message : '' %>
        <div class="flex">
        <img src="<%= user.image%>" alt="" class="img-thumbnail">

        <form action="/update" method="POST">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" name="username" value="<%= user.username %>" id="username"
                    aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">
                    We'll never share your email with anyone else.
                </small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Last Name:</label>
                <input type="text" name="lastname" class="form-control" id="" value="<%= user.lastname  %>">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <input type="hidden" name="id" value="<%= user.id %>">
            <button type="submit" class="btn btn-outline-success btn-block">Update User</button>

        </form>
    </div>
    </div>
</div>
</body>

</html>